@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  section {
    @apply py-8;
  }
  footer {
    @apply bg-gray-50;
  }
  .color-primary {
    @apply text-orange-500;
  }
  .btn {
    @apply text-base py-[10px] px-[14px] xl:text-xl rounded-md;
  }
  .btn-primary {
    @apply bg-orange-500 text-white;
  }
  .copyright {
    @apply bg-black/70 text-white py-6 text-center;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
